# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/dev/node_modules
/dev/.vscode
/dev/build
/dev/package-lock.json
/release/node_modules
/release/package-lock.json
